/.idea/
/promotion-api/target/
/gateway/target/
/merchant-service/target/
/common/target/
/merchant-service/target/
/distribution-service/target/
./merchant-service/target/
/identity-service/target/
/identity-domain-api/target/
/user-service/target/
/user-domain-api/target/
/identity-service/docker/mysql-data/
/identity-service/docker/redis-data/
/user-service/docker/mysql-data/
/user-service/docker/redis-data/
